body {
	background-color: #fff;
	color: #333;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

section div.imgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
	position: relative;
}

section div.imgContainer img {
	max-width: 70%;
	height: auto;
	position: absolute;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
