html, body {
  background-color: #0e100f;
  margin: 0 auto;
  padding: 0 auto;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 500px;
  max-width: 70vw;
}

h1 {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}