body {
  background-color: #a2bedf;
  overflow: hidden;
  display: flex;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 800px;
  height: 600px;
  visibility: hidden;
}

.penguinTop {
  -webkit-tap-highlight-color: transparent;
}

